<div class="bs-social-entity-wrapper">
	<div class="bs-social-entity-title">
		<span>{{{title}}}</span>
	</div>
	<div class="bs-social-entity-userimage">
		{{{userimage}}}
	</div>
	<div class="bs-social-entity-right">
		{{{entityactions}}}
		<div class="bs-social-entity-beforecontent">
			{{{beforecontent}}}
		</div>
		<div class="bs-social-entity-content">
			{{{content}}}
			<div>{{{teasertext}}}</div>
		</div>
		<div class="bs-social-entity-content-more" style="display:none">
			<a class="bs-social-entity-content-more-button" tabindex="0" role="button">&nbsp;</a>
		</div>
		<div class="bs-social-entity-aftercontent">
			{{{aftercontent}}}
			<span class="bs-social-entity-timecreated">
				{{{timestampcreated}}}
			</span>
			<span class="bs-social-entity-author">
				<a href="{{authorpage}}" title="{{author}}" tabindex="0">{{author}}</a>
			</span>
		</div>
	</div>
</div>
<div class="bs-social-entitylist-children">
	{{{beforechildren}}}
	{{{children}}}
	{{{afterchildren}}}
</div>
